#div1 {
  width: 200px;
  height: 160px;
  border: 1px solid #a9a9a9;
  transform: rotate(15deg);
  display: inline-block;
}

#div2 {
  width: 200px;
  height: 160px;
  border: 1px solid #a9a9a9;
  transform: rotate(-15deg);
  display: inline-block;
}

div {
  background-color: white;
  padding-top: 10px;
  filter: drop-shadow(10px 10px 4px #a9a9a9);
}

body {
  padding-top: 50px;
}

img {
  padding-bottom: 10px;
}

#divBG {
  width: 500px;
  height: 300px;
  background-color: #D3D3D3;
  padding-top: 70px;
  filter: none;
}
